@import 'tailwindcss';

body {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
	background: hsla(184, 85%, 63%, 1);

	background: linear-gradient(
		90deg,
		hsla(184, 85%, 63%, 1) 0%,
		hsla(240, 46%, 76%, 1) 50%,
		hsla(319, 72%, 75%, 1) 100%
	);
}

button {
	cursor: pointer;
}
